/* header */

.site-header__logo-image>img {
    height: 90px;
}


/* End edit header */


/* Start mode create account and login */

.title_block .title-block__item {
    /* color: #8190a0; */
    color: #000;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.title-block__line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #105caa;
    transition: all 0.2s ease;
}

.title_block .title-block__item.active {
    opacity: 1;
}

.title_block .title-block__item:hover {
    opacity: 1;
}

.content__modal .content__modal--block {
    display: none;
}

.content__modal .content__modal--block.active {
    display: block;
}


/* End mode edit create account and login */